//////////////////////////////////////////////////////////////////////////////
// Враппер с градиентом
//////////////////////////////////////////////////////////////////////////////
.topSection {
  background: #fff
    linear-gradient(180deg, #f2f6fa 0%, rgba(242, 246, 250, 0) 100%);
  background-size: 100% 90%;
  background-position: 0 0;
  background-repeat: no-repeat;
}
